In [1]:
import pandas as pd
import json
import sys

Pandas objects: Series and DataFrame

In [16]:
# Series
data = pd.Series([0.25, 0.5, 0.75, 1.0]) 
#print(data)
#print(data.values)
print(data.index)

RangeIndex(start=0, stop=4, step=1)

In [19]:
# Getting value using index
print(data[1])
print(data[1:4])
print(data[1:3])

0.5
1    0.50
2    0.75
3    1.00
dtype: float64
1    0.50
2    0.75
dtype: float64

In [20]:
# Series with custom indices
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=["hello", 5, 3, 7])
print(data)
int(data["hello"])
print(data[7])
print(data["hello":3])
print(data[[5,7]])

hello    0.25
5        0.50
3        0.75
7        1.00
dtype: float64
1.0
hello    0.25
5        0.50
3        0.75
dtype: float64
5    0.5
7    1.0
dtype: float64

In [21]:
population_dict = {'Delhi': 19000000,
'Ahmedabad': 5577940,
'Mumbai': 12400000,
'Kolkata': 14900000,
'Bangaluru': 8400000}
data=pd.Series(population_dict)
print(data)
print(data["Ahmedabad"])
print(data["Delhi":"Kolkata"])

Delhi        19000000
Ahmedabad     5577940
Mumbai       12400000
Kolkata      14900000
Bangaluru     8400000
dtype: int64
5577940
Delhi        19000000
Ahmedabad     5577940
Mumbai       12400000
Kolkata      14900000
dtype: int64

In [22]:
# DataFrame
area_dict = {'Delhi': 1484,
'Ahmedabad': 464,
'Mumbai': 603.4,
'Kolkata': 206.1,
'Bangaluru': 790}

states = pd.DataFrame({'population': population_dict,
                        'area': area_dict})

print(states)

           population    area
Delhi        19000000  1484.0
Ahmedabad     5577940   464.0
Mumbai       12400000   603.4
Kolkata      14900000   206.1
Bangaluru     8400000   790.0

In [23]:
print(states.index)
print(states.columns)
print(states.values)

Index(['Delhi', 'Ahmedabad', 'Mumbai', 'Kolkata', 'Bangaluru'], dtype='object')
Index(['population', 'area'], dtype='object')
[[1.90000e+07 1.48400e+03]
 [5.57794e+06 4.64000e+02]
 [1.24000e+07 6.03400e+02]
 [1.49000e+07 2.06100e+02]
 [8.40000e+06 7.90000e+02]]

In [25]:
print(states["population"])
print(states.area)

Delhi        19000000
Ahmedabad     5577940
Mumbai       12400000
Kolkata      14900000
Bangaluru     8400000
Name: population, dtype: int64
Delhi        1484.0
Ahmedabad     464.0
Mumbai        603.4
Kolkata       206.1
Bangaluru     790.0
Name: area, dtype: float64

In [29]:
print(states.iloc[-1,-1])
print(states.iloc[1])

790.0
population    5577940.0
area              464.0
Name: Ahmedabad, dtype: float64

In [30]:
print(states.loc["Ahmedabad","area"])
print(states.loc["Mumbai"])

464.0
population    12400000.0
area               603.4
Name: Mumbai, dtype: float64

In [31]:
# Loading data of different file formate as DataFrame

#from csv
data=pd.read_csv("MOP_installed_capacity_sector_mode_wise.csv")
print(data)
# data.gov.in

           Date                      State          Sector     Mode  \
0    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Thermal
1    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear
2    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR    Hydro
3    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR      RES
4    08-01-2022  Andaman & Nicobar Islands      PVT SECTOR  Thermal
..          ...                        ...             ...      ...
418  08-01-2022                West Bengal      PVT SECTOR    Hydro
419  08-01-2022                West Bengal      PVT SECTOR      RES
420  08-01-2022                West Bengal  CENTRAL SECTOR  Thermal
421  08-01-2022                West Bengal  CENTRAL SECTOR  Nuclear
422  08-01-2022                West Bengal  CENTRAL SECTOR    Hydro

     Installed Capacity
0                40.048
1                 0.000
2                 0.000
3                 5.250
4                 0.000
..                  ...
418               0.000
419             462.950
420            6850.000
421               0.000
422             355.200

[423 rows x 5 columns]

In [36]:
#from json
filepath="MOP_installed_capacity_sector_mode_wise.json"
f = open(filepath)
data=json.load(f)
#data=pd.read_json(filepath)

#df=pd.DataFrame(data) # this return an error

print(data.keys())

print(len(data["fields"]))
print(len(data["data"]))
print(data["fields"])
df=pd.DataFrame(data["data"])
print(df)

dict_keys(['fields', 'data'])
5
423
[{'id': 'a', 'label': 'Date', 'type': 'string'}, {'id': 'b', 'label': 'State', 'type': 'string'}, {'id': 'c', 'label': 'Sector', 'type': 'string'}, {'id': 'd', 'label': 'Mode', 'type': 'string'}, {'id': 'e', 'label': 'Installed Capacity', 'type': 'string'}]
              0                          1               2        3       4
0    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Thermal  40.048
1    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear       0
2    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR    Hydro       0
3    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR      RES    5.25
4    08-01-2022  Andaman & Nicobar Islands      PVT SECTOR  Thermal       0
..          ...                        ...             ...      ...     ...
418  08-01-2022                West Bengal      PVT SECTOR    Hydro       0
419  08-01-2022                West Bengal      PVT SECTOR      RES  462.95
420  08-01-2022                West Bengal  CENTRAL SECTOR  Thermal    6850
421  08-01-2022                West Bengal  CENTRAL SECTOR  Nuclear       0
422  08-01-2022                West Bengal  CENTRAL SECTOR    Hydro   355.2

[423 rows x 5 columns]

In [34]:

columns=pd.DataFrame(data["fields"])["label"].tolist()
print(columns)
df=pd.DataFrame(data["data"],columns=columns)
print(df)

['Date', 'State', 'Sector', 'Mode', 'Installed Capacity']
           Date                      State          Sector     Mode  \
0    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Thermal
1    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear
2    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR    Hydro
3    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR      RES
4    08-01-2022  Andaman & Nicobar Islands      PVT SECTOR  Thermal
..          ...                        ...             ...      ...
418  08-01-2022                West Bengal      PVT SECTOR    Hydro
419  08-01-2022                West Bengal      PVT SECTOR      RES
420  08-01-2022                West Bengal  CENTRAL SECTOR  Thermal
421  08-01-2022                West Bengal  CENTRAL SECTOR  Nuclear
422  08-01-2022                West Bengal  CENTRAL SECTOR    Hydro

    Installed Capacity
0               40.048
1                    0
2                    0
3                 5.25
4                    0
..                 ...
418                  0
419             462.95
420               6850
421                  0
422              355.2

[423 rows x 5 columns]

In [38]:
# read ods
#!pip install odfpy # install it to read .ods file
#!conda install -c conda-forge odfpy
# Note run it in terminal
filepath="MOP_installed_capacity_sector_mode_wise.ods"
data=pd.read_excel(filepath, engine="odf")
print(data)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: odfpy in /usr/local/lib/python3.8/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from odfpy) (0.7.1)
           Date                      State          Sector     Mode  \
0    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Thermal
1    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear
2    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR    Hydro
3    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR      RES
4    08-01-2022  Andaman & Nicobar Islands      PVT SECTOR  Thermal
..          ...                        ...             ...      ...
418  08-01-2022                West Bengal      PVT SECTOR    Hydro
419  08-01-2022                West Bengal      PVT SECTOR      RES
420  08-01-2022                West Bengal  CENTRAL SECTOR  Thermal
421  08-01-2022                West Bengal  CENTRAL SECTOR  Nuclear
422  08-01-2022                West Bengal  CENTRAL SECTOR    Hydro

     Installed Capacity
0                40.048
1                 0.000
2                 0.000
3                 5.250
4                 0.000
..                  ...
418               0.000
419             462.950
420            6850.000
421               0.000
422             355.200

[423 rows x 5 columns]

In [42]:
# read xls
#!conda install -c conda-forge xlrd
filepath="MOP_installed_capacity_sector_mode_wise.xls"
data=pd.read_excel(filepath, sheet_name=None)
print(data)
#print(data["Worksheet"])
#data=data["Worksheet"]

{'Sheet 0':            Date                      State          Sector     Mode  \
0    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Thermal
1    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear
2    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR    Hydro
3    08-01-2022  Andaman & Nicobar Islands    STATE SECTOR      RES
4    08-01-2022  Andaman & Nicobar Islands      PVT SECTOR  Thermal
..          ...                        ...             ...      ...
418  08-01-2022                West Bengal      PVT SECTOR    Hydro
419  08-01-2022                West Bengal      PVT SECTOR      RES
420  08-01-2022                West Bengal  CENTRAL SECTOR  Thermal
421  08-01-2022                West Bengal  CENTRAL SECTOR  Nuclear
422  08-01-2022                West Bengal  CENTRAL SECTOR    Hydro

     Installed Capacity
0                40.048
1                 0.000
2                 0.000
3                 5.250
4                 0.000
..                  ...
418               0.000
419             462.950
420            6850.000
421               0.000
422             355.200

[423 rows x 5 columns]}

In [43]:
# read xml
filepath="MOP_installed_capacity_sector_mode_wise.xml"
data=pd.read_xml(filepath)
print(data)

        DATE                      STATE          SECTOR     MODE  \
0    8012022  Andaman & Nicobar Islands    STATE SECTOR  Thermal
1    8012022  Andaman & Nicobar Islands    STATE SECTOR  Nuclear
2    8012022  Andaman & Nicobar Islands    STATE SECTOR    Hydro
3    8012022  Andaman & Nicobar Islands    STATE SECTOR      RES
4    8012022  Andaman & Nicobar Islands      PVT SECTOR  Thermal
..       ...                        ...             ...      ...
418  8012022                West Bengal      PVT SECTOR    Hydro
419  8012022                West Bengal      PVT SECTOR      RES
420  8012022                West Bengal  CENTRAL SECTOR  Thermal
421  8012022                West Bengal  CENTRAL SECTOR  Nuclear
422  8012022                West Bengal  CENTRAL SECTOR    Hydro

     INSTALLED_CAPACITY
0                40.048
1                 0.000
2                 0.000
3                 5.250
4                 0.000
..                  ...
418               0.000
419             462.950
420            6850.000
421               0.000
422             355.200

[423 rows x 5 columns]

In [44]:
# Saving dataframe as CSV
filepath="test.csv"
data.to_csv(filepath,index=False)

In [46]:
filepath="MOP_ATC_losses.csv"
data_2=pd.read_csv(filepath)
#print(data_2.columns)
print(data_2)

   Start Month _ Year End Month _ Year              State  \
0              Apr-15           Mar-16              Bihar
1              Apr-15           Mar-16              Bihar
2              Apr-15           Mar-16          Jharkhand
3              Apr-15           Mar-16             Odisha
4              Apr-15           Mar-16             Odisha
5              Apr-15           Mar-16             Odisha
6              Apr-15           Mar-16             Odisha
7              Apr-15           Mar-16             Sikkim
8              Apr-15           Mar-16        West Bengal
9              Apr-15           Mar-16  Arunachal Pradesh
10             Apr-15           Mar-16              Assam
11             Apr-15           Mar-16            Manipur
12             Apr-15           Mar-16          Meghalaya
13             Apr-15           Mar-16            Mizoram
14             Apr-15           Mar-16           Nagaland
15             Apr-15           Mar-16            Tripura
16             Apr-15           Mar-16              Delhi
17             Apr-15           Mar-16              Delhi
18             Apr-15           Mar-16              Delhi
19             Apr-15           Mar-16            Haryana
20             Apr-15           Mar-16            Haryana
21             Apr-15           Mar-16   Himachal Pradesh
22             Apr-15           Mar-16    Jammu & Kashmir
23             Apr-15           Mar-16             Punjab
24             Apr-15           Mar-16          Rajasthan
25             Apr-15           Mar-16          Rajasthan
26             Apr-15           Mar-16          Rajasthan
27             Apr-15           Mar-16      Uttar Pradesh
28             Apr-15           Mar-16      Uttar Pradesh
29             Apr-15           Mar-16      Uttar Pradesh
30             Apr-15           Mar-16      Uttar Pradesh
31             Apr-15           Mar-16      Uttar Pradesh
32             Apr-15           Mar-16        Uttarakhand
33             Apr-15           Mar-16     Andhra Pradesh
34             Apr-15           Mar-16     Andhra Pradesh
35             Apr-15           Mar-16         Karnataka
36             Apr-15           Mar-16         Karnataka
37             Apr-15           Mar-16         Karnataka
38             Apr-15           Mar-16         Karnataka
39             Apr-15           Mar-16         Karnataka
40             Apr-15           Mar-16             Kerala
41             Apr-15           Mar-16         Puducherry
42             Apr-15           Mar-16         Tamil Nadu
43             Apr-15           Mar-16          Telangana
44             Apr-15           Mar-16          Telangana
45             Apr-15           Mar-16        Chattisgarh
46             Apr-15           Mar-16                Goa
47             Apr-15           Mar-16            Gujarat
48             Apr-15           Mar-16            Gujarat
49             Apr-15           Mar-16            Gujarat
50             Apr-15           Mar-16            Gujarat
51             Apr-15           Mar-16     Madhya Pradesh
52             Apr-15           Mar-16     Madhya Pradesh
53             Apr-15           Mar-16     Madhya Pradesh
54             Apr-15           Mar-16        Maharashtra

                     DISCOM Input Energy (MU) Billed Energy (MU)  \
0                    NBPDCL             7,631              5,206
1                    SBPDCL            12,634              7,085
2                     JBVNL            12,380              9,059
3                      CESU             8,367              5,571
4             NESCO Utility             5,196              3,807
5             SESCO Utility             3,283              2,078
6             WESCO Utility             6,942              4,598
7                 Sikkim PD               386                265
8                   WBSEDCL            33,921             22,991
9              Arunachal PD               735                347
10                    APDCL             7,571              6,199
11                   MSPDCL               666                475
12                   MePDCL             1,669              1,058
13               Mizoram PD               480                339
14              Nagaland PD               751                549
15                    TSECL             1,250                813
16            BSES Rajdhani            12,455             10,902
17              BSES Yamuna             7,024              5,980
18                    TPDDL             8,612              7,868
19                   DHBVNL            24,862             18,777
20                   UHBVNL            19,648             13,460
21               HPSEB Ltd.             8,944              7,951
22                  J&K PDD            13,298              6,591
23                    PSPCL            48,414             41,330
24                    AVVNL            17,957             13,154
25                   JDVVNL            21,615             16,574
26                    JVVNL            26,213             17,852
27                     DVVN            17,058             12,075
28                    KESCO             3,584              3,085
29                     MVVN            16,296             12,658
30                 Pash VVN            26,926             21,905
31                Poorv VVN            20,638             15,888
32                   Ut PCL            12,560             10,298
33                  APEPDCL            16,434             15,534
34                  APSPDCL            33,291             28,710
35                   BESCOM            27,893             24,538
36                  CHESCOM             6,256              5,405
37                   GESCOM             7,936              6,508
38                   HESCOM            12,143             10,092
39                   MESCOM             4,869              4,309
40                    KSEBL            22,584             19,325
41            Puducherry PD             2,723              2,398
42                 TANGEDCO            85,737             68,441
43                  TSNPDCL            13,270             11,566
44                  TSSPDCL            33,310             29,479
45                   CSPDCL            23,972             18,603
46                   Goa PD             3,840              3,160
47                    DGVCL            18,067             16,336
48                    MGVCL             9,818              8,675
49                    PGVCL            28,171             21,209
50                    UGVCL            19,738             17,254
51   MP Madhya Kshetra VVCL            19,708             14,712
52  MP Paschim Kshetra VVCL            23,150             16,908
53     MP Purv Kshetra VVCL            17,960             13,891
54                   MSEDCL          1,10,961             94,268

   Billed Amount (Rs crore) Collected Amount (Rs crore)  AT&C Losses (%)
0                     2,049                       1,840            38.73
1                     3,289                       3,123            46.75
2                     2,867                       2,435            37.84
3                     2,862                       2,714            36.86
4                     2,067                       1,809            35.89
5                       986                         841            46.03
6                     2,573                       2,334            39.92
7                       130                         120            36.68
8                    14,932                      15,179            31.10
9                       131                         117            57.74
10                    3,619                       3,314            25.02
11                      142                          99            50.35
12                      544                         461            46.34
13                      198                         188            32.96
14                      105                          35            75.56
15                      496                         490            35.77
16                    8,820                       8,738            13.29
17                    4,734                       4,705            15.39
18                    6,581                       6,562             8.90
19                   11,522                      10,643            30.23
20                    7,768                       7,367            35.03
21                    4,351                       4,259            12.98
22                    2,012                       1,674            58.75
23                   17,502                      16,964            17.26
24                    8,302                       8,430            25.62
25                    9,950                      10,005            22.90
26                   11,460                      11,261            33.08
27                    5,710                       3,859            52.16
28                    2,102                       2,061            15.64
29                    5,904                       5,248            30.96
30                   11,781                      10,747            25.79
31                    5,909                       5,016            34.65
32                    4,667                       4,995            12.25
33                    7,381                       7,297             6.56
34                   11,906                      11,455            17.02
35                   12,532                      12,483            12.37
36                    1,734                       1,766            11.99
37                    3,501                       3,490            18.24
38                    2,445                       2,464            16.23
39                    1,832                       1,825            11.83
40                   10,873                      10,656            16.14
41                    1,112                         985            21.95
42                   41,444                      41,333            20.39
43                    3,635                       3,533            15.29
44                   15,720                      15,325            13.73
45                    9,210                       8,701            26.69
46                    1,235                       1,249            16.81
47                   10,825                      10,726            10.41
48                    5,089                       5,150            10.59
49                   11,431                      11,441            24.65
50                    8,199                       8,234            12.21
51                    5,926                       5,272            33.59
52                    6,333                       6,038            30.37
53                    6,206                       5,931            26.09
54                   41,548                      37,597            23.12

In [47]:
df=pd.merge(data,data_2)

MergeError: ignored

In [48]:
print(data.columns)
print(data_2.columns)

Index(['DATE', 'STATE', 'SECTOR', 'MODE', 'INSTALLED_CAPACITY'], dtype='object')
Index(['Start Month _ Year', 'End Month _ Year', 'State', 'DISCOM',
       'Input Energy (MU)', 'Billed Energy (MU)', 'Billed Amount (Rs crore)',
       'Collected Amount (Rs crore)', 'AT&C Losses (%)'],
      dtype='object')

In [49]:
df=pd.merge(data,data_2,left_on="STATE", right_on="State")
print(df)

filepath="test.csv"
df.to_csv(filepath)

        DATE           STATE          SECTOR     MODE  INSTALLED_CAPACITY  \
0    8012022  Andhra Pradesh    STATE SECTOR  Thermal             5245.40
1    8012022  Andhra Pradesh    STATE SECTOR  Thermal             5245.40
2    8012022  Andhra Pradesh    STATE SECTOR  Nuclear                0.00
3    8012022  Andhra Pradesh    STATE SECTOR  Nuclear                0.00
4    8012022  Andhra Pradesh    STATE SECTOR    Hydro             1610.00
..       ...             ...             ...      ...                 ...
554  8012022     West Bengal      PVT SECTOR    Hydro                0.00
555  8012022     West Bengal      PVT SECTOR      RES              462.95
556  8012022     West Bengal  CENTRAL SECTOR  Thermal             6850.00
557  8012022     West Bengal  CENTRAL SECTOR  Nuclear                0.00
558  8012022     West Bengal  CENTRAL SECTOR    Hydro              355.20

    Start Month _ Year End Month _ Year           State   DISCOM  \
0               Apr-15           Mar-16  Andhra Pradesh  APEPDCL
1               Apr-15           Mar-16  Andhra Pradesh  APSPDCL
2               Apr-15           Mar-16  Andhra Pradesh  APEPDCL
3               Apr-15           Mar-16  Andhra Pradesh  APSPDCL
4               Apr-15           Mar-16  Andhra Pradesh  APEPDCL
..                 ...              ...             ...      ...
554             Apr-15           Mar-16     West Bengal  WBSEDCL
555             Apr-15           Mar-16     West Bengal  WBSEDCL
556             Apr-15           Mar-16     West Bengal  WBSEDCL
557             Apr-15           Mar-16     West Bengal  WBSEDCL
558             Apr-15           Mar-16     West Bengal  WBSEDCL

    Input Energy (MU) Billed Energy (MU) Billed Amount (Rs crore)  \
0              16,434             15,534                    7,381
1              33,291             28,710                   11,906
2              16,434             15,534                    7,381
3              33,291             28,710                   11,906
4              16,434             15,534                    7,381
..                ...                ...                      ...
554            33,921             22,991                   14,932
555            33,921             22,991                   14,932
556            33,921             22,991                   14,932
557            33,921             22,991                   14,932
558            33,921             22,991                   14,932

    Collected Amount (Rs crore)  AT&C Losses (%)
0                         7,297             6.56
1                        11,455            17.02
2                         7,297             6.56
3                        11,455            17.02
4                         7,297             6.56
..                          ...              ...
554                      15,179            31.10
555                      15,179            31.10
556                      15,179            31.10
557                      15,179            31.10
558                      15,179            31.10

[559 rows x 14 columns]

In [50]:
# try by changing columns names
data.columns=[ nm.lower() for nm in data.columns]
data_2.columns=[ nm.lower() for nm in data_2.columns]
df=pd.merge(data,data_2)
print(df)

# Note: Explore chapter 3, title: Combing dataset of "Python Data Science Handbook"

        date           state          sector     mode  installed_capacity  \
0    8012022  Andhra Pradesh    STATE SECTOR  Thermal             5245.40
1    8012022  Andhra Pradesh    STATE SECTOR  Thermal             5245.40
2    8012022  Andhra Pradesh    STATE SECTOR  Nuclear                0.00
3    8012022  Andhra Pradesh    STATE SECTOR  Nuclear                0.00
4    8012022  Andhra Pradesh    STATE SECTOR    Hydro             1610.00
..       ...             ...             ...      ...                 ...
554  8012022     West Bengal      PVT SECTOR    Hydro                0.00
555  8012022     West Bengal      PVT SECTOR      RES              462.95
556  8012022     West Bengal  CENTRAL SECTOR  Thermal             6850.00
557  8012022     West Bengal  CENTRAL SECTOR  Nuclear                0.00
558  8012022     West Bengal  CENTRAL SECTOR    Hydro              355.20

    start month _ year end month _ year   discom input energy (mu)  \
0               Apr-15           Mar-16  APEPDCL            16,434
1               Apr-15           Mar-16  APSPDCL            33,291
2               Apr-15           Mar-16  APEPDCL            16,434
3               Apr-15           Mar-16  APSPDCL            33,291
4               Apr-15           Mar-16  APEPDCL            16,434
..                 ...              ...      ...               ...
554             Apr-15           Mar-16  WBSEDCL            33,921
555             Apr-15           Mar-16  WBSEDCL            33,921
556             Apr-15           Mar-16  WBSEDCL            33,921
557             Apr-15           Mar-16  WBSEDCL            33,921
558             Apr-15           Mar-16  WBSEDCL            33,921

    billed energy (mu) billed amount (rs crore) collected amount (rs crore)  \
0               15,534                    7,381                       7,297
1               28,710                   11,906                      11,455
2               15,534                    7,381                       7,297
3               28,710                   11,906                      11,455
4               15,534                    7,381                       7,297
..                 ...                      ...                         ...
554             22,991                   14,932                      15,179
555             22,991                   14,932                      15,179
556             22,991                   14,932                      15,179
557             22,991                   14,932                      15,179
558             22,991                   14,932                      15,179

     at&c losses (%)
0               6.56
1              17.02
2               6.56
3              17.02
4               6.56
..               ...
554            31.10
555            31.10
556            31.10
557            31.10
558            31.10

[559 rows x 13 columns]

In [51]:
#print(data.groupby("sector").sum())
#print(data.groupby("state").sum())
#print(data.groupby("mode").sum())
data_df=data.groupby("state").sum()["installed_capacity"]
print(data_df)

state
Andaman & Nicobar Islands                      74.7880
Andhra Pradesh                              27325.8540
Arunachal Pradesh                            1257.3351
Assam                                        1825.0350
Bihar                                        8346.9500
Chandigarh                                     53.4500
Chhatisgarh                                 24660.5800
Dadra and Nagar Haveli and Daman and Diu       46.1800
Delhi                                        2471.5200
Goa                                            66.8800
Gujarat                                     41520.7700
Haryana                                      6848.4700
Himachal Pradesh                            11095.7600
Jammu and Kashmir                            3726.5500
Jharkhand                                    4556.4200
Karnataka                                   29861.6000
Kerala                                       3184.4500
Ladakh                                        136.4400
Lakshadweep                                     3.2700
Madhya Pradesh                              29606.3800
Maharashtra                                 42076.2700
Manipur                                       158.6500
Meghalaya                                     372.4600
Mizoram                                       104.3500
Nagaland                                      108.7100
Odisha                                      12279.2900
Puducherry                                     44.5500
Punjab                                       8542.4100
Rajasthan                                   27640.8400
Sikkim                                       2338.7600
Tamil Nadu                                  35412.3010
Telangana                                   14579.8400
Tripura                                      1130.4800
Uttar Pradesh                               30516.8600
Uttarakhand                                  5211.9100
West Bengal                                 16203.1000
Name: installed_capacity, dtype: float64

Aggregation             Description
count()               Total number of items
first() , last()      First and last item
mean() , median()     Mean and median
min() , max()         Minimum and maximum
std() , var()         Standard deviation and variance
mad()                 Mean absolute deviation
prod()                Product of all items
sum()                 Sum of all items

In [52]:
#data.groupby("MODE")["INSTALLED_CAPACITY"].mean()
data.groupby("state")["mode"].count()

state
Andaman & Nicobar Islands                   12
Andhra Pradesh                              12
Arunachal Pradesh                           12
Assam                                       12
Bihar                                       12
Chandigarh                                  12
Chhatisgarh                                 12
Dadra and Nagar Haveli and Daman and Diu    12
Delhi                                        8
Goa                                         12
Gujarat                                     12
Haryana                                     12
Himachal Pradesh                            12
Jammu and Kashmir                           12
Jharkhand                                   12
Karnataka                                   12
Kerala                                      12
Ladakh                                      12
Lakshadweep                                 12
Madhya Pradesh                              12
Maharashtra                                 12
Manipur                                     12
Meghalaya                                    8
Mizoram                                     12
Nagaland                                    12
Odisha                                      12
Puducherry                                  12
Punjab                                      12
Rajasthan                                   12
Sikkim                                      12
Tamil Nadu                                  12
Telangana                                   12
Tripura                                     12
Uttar Pradesh                               12
Uttarakhand                                 12
West Bengal                                 11
Name: mode, dtype: int64

In [53]:
# pivot table
print(data_2.columns)
data_2.groupby("state")[["at&c losses (%)"]].sum()

Index(['start month _ year', 'end month _ year', 'state', 'discom',
       'input energy (mu)', 'billed energy (mu)', 'billed amount (rs crore)',
       'collected amount (rs crore)', 'at&c losses (%)'],
      dtype='object')

                   at&c losses (%)
state
Andhra Pradesh               23.58
Arunachal Pradesh            57.74
Assam                        25.02
Bihar                        85.48
Chattisgarh                  26.69
Delhi                        37.58
Goa                          16.81
Gujarat                      57.86
Haryana                      65.26
Himachal Pradesh             12.98
Jammu & Kashmir              58.75
Jharkhand                    37.84
Karnataka                    70.66
Kerala                       16.14
Madhya Pradesh               90.05
Maharashtra                  23.12
Manipur                      50.35
Meghalaya                    46.34
Mizoram                      32.96
Nagaland                     75.56
Odisha                      158.70
Puducherry                   21.95
Punjab                       17.26
Rajasthan                    81.60
Sikkim                       36.68
Tamil Nadu                   20.39
Telangana                    29.02
Tripura                      35.77
Uttar Pradesh               159.20
Uttarakhand                  12.25
West Bengal                  31.10

In [54]:
data_2.pivot_table("at&c losses (%)", index='state')

                   at&c losses (%)
state
Andhra Pradesh           11.790000
Arunachal Pradesh        57.740000
Assam                    25.020000
Bihar                    42.740000
Chattisgarh              26.690000
Delhi                    12.526667
Goa                      16.810000
Gujarat                  14.465000
Haryana                  32.630000
Himachal Pradesh         12.980000
Jammu & Kashmir          58.750000
Jharkhand                37.840000
Karnataka                14.132000
Kerala                   16.140000
Madhya Pradesh           30.016667
Maharashtra              23.120000
Manipur                  50.350000
Meghalaya                46.340000
Mizoram                  32.960000
Nagaland                 75.560000
Odisha                   39.675000
Puducherry               21.950000
Punjab                   17.260000
Rajasthan                27.200000
Sikkim                   36.680000
Tamil Nadu               20.390000
Telangana                14.510000
Tripura                  35.770000
Uttar Pradesh            31.840000
Uttarakhand              12.250000
West Bengal              31.100000

In [55]:
data.columns=[ nm.lower() for nm in data.columns]
data_2.columns=[ nm.lower() for nm in data_2.columns]
df=pd.merge(data,data_2)
#print(df)
df.pivot_table("at&c losses (%)",index=["state","sector"], columns="mode",aggfunc='sum')

mode                              Hydro  Nuclear    RES  Thermal
state             sector
Andhra Pradesh    CENTRAL SECTOR  23.58    23.58  23.58    23.58
                  PVT SECTOR      23.58    23.58  23.58    23.58
                  STATE SECTOR    23.58    23.58  23.58    23.58
Arunachal Pradesh CENTRAL SECTOR  57.74    57.74  57.74    57.74
                  PVT SECTOR      57.74    57.74  57.74    57.74
...                                 ...      ...    ...      ...
Uttarakhand       PVT SECTOR      12.25    12.25  12.25    12.25
                  STATE SECTOR    12.25    12.25  12.25    12.25
West Bengal       CENTRAL SECTOR  31.10    31.10    NaN    31.10
                  PVT SECTOR      31.10    31.10  31.10    31.10
                  STATE SECTOR    31.10    31.10  31.10    31.10

[82 rows x 4 columns]