In [1]:
'''
# CS312 - Data Analytics and Visualization
# Janmay Joshi
# 202051210
'''

# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

###  Reading Data

In [2]:
female_population = pd.read_csv('population_of_female.csv')
female_completion = pd.read_csv('primary_completion_rate_female.csv')

#### 1. Create a column named “average_rate” in “primary_completion_rate_female.csv” that contains the average (over time) completion rate.

In [3]:
female_completion['avgRate'] = female_completion.mean(axis=1, numeric_only=True)
df1 = female_completion[['Country Name', 'avgRate']]
df1.head()

                  Country Name    avgRate
0                        Aruba  96.203056
1  Africa Eastern and Southern  52.899081
2                  Afghanistan  28.085734
3   Africa Western and Central  54.108691
4                       Angola  34.111267

#### 2. Create a column named “Latest Population” in “population_of_female.csv” that contains the latest population of females in the country.

In [4]:
female_population['Latest Population'] = female_population.iloc[:,-1]
female_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Latest Population
0,Aruba,ABW,"Population, female",SP.POP.TOTL.FE.IN,27773.0,28380.0,28820.0,29218.0,29570.0,29875.0,...,53953.0,54403.0,54828.0,55224.0,55591.0,55935.0,56254.0,56373.0,56330.0,56330.0
1,Africa Eastern and Southern,AFE,"Population, female",SP.POP.TOTL.FE.IN,65853220.0,67606287.0,69457112.0,71375643.0,73386167.0,75478396.0,...,287224786.0,295088995.0,303195759.0,311387262.0,319637226.0,328158974.0,336930831.0,345889729.0,354855082.0,354855082.0
2,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,4145945.0,4233771.0,4326881.0,4424511.0,4526691.0,4634341.0,...,15594637.0,16172321.0,16682054.0,17115346.0,17614722.0,18136922.0,18679089.0,19279930.0,19844584.0,19844584.0
3,Africa Western and Central,AFW,"Population, female",SP.POP.TOTL.FE.IN,48802898.0,49850088.0,50928609.0,52044907.0,53196730.0,54389295.0,...,192900081.0,198163527.0,203513873.0,208980433.0,214578994.0,220253839.0,226004857.0,231877590.0,237813580.0,237813580.0
4,Angola,AGO,"Population, female",SP.POP.TOTL.FE.IN,2670229.0,2704394.0,2742689.0,2779473.0,2812590.0,2838939.0,...,13252938.0,13746371.0,14248799.0,14764575.0,15293335.0,15828040.0,16370553.0,16910989.0,17452283.0,17452283.0

#### 3. What is the weighted average of primary rates of different countries? The weight should be the Latest population of females in the country.

In [5]:
wtAvg, sum = 0, 0
for i in range(len(female_completion)):
    if np.isnan(female_completion['avgRate'][i]):
        continue
    else:
        wtAvg += female_completion['avgRate'][i] * female_population['Latest Population'][i]
        sum += female_population['Latest Population'][i]
wtAvg /= sum
print(wtAvg)

77.26494154546334

#### 4. What is the Median of average primary completion rate?

In [6]:
median = female_completion['avgRate'].median()
print(median)

90.96608239594593

#### 5. What is the InterQuartile Range of average primary completion rate?

In [7]:
q1, q3 = female_completion['avgRate'].quantile([.25,.75])
iqr = q3-q1
print(iqr)

29.470233932725478

#### 6. What is the Variance of average primary completion rate?

In [8]:
variance = female_completion['avgRate'].var()
print(variance)

512.931026694745